/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
    font-family: 'Inter';
}

html  {
    background-color: #E7E4D5;
}

.section-timer {
    margin: auto;
}

.container {
    background-color: #F9F9F9;
    width: 1024px;
    height: 578px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 52px;
    padding-top: 46px;
    position: relative;
}

.setting {
    width: 330px;
    height: 647px;
    border: 0px;
    border-radius: 28px;
    background-color: #ECE6F0;
    position: absolute;
    left: 360px;
    top: 95px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear, visibility 0.3s linear;
}

.none {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.3s linear;
}

.setting__triangle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ECE6F0;
    transform: rotate(45deg);
    left: 145px;
    top: 0px;

}

.setting__shell {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
}

.setting__block {
    display: flex;
    flex-direction: column;

}

.setting__heading {
    color: #49454F;
    font-size: 12px;
}

.setting__cell {
    display: flex;
    flex-direction: row;
}

.setting__left-block {
    display: flex;
    flex-direction: column;
}

.setting__hour {
    width: 128px;
    height: 72px;
    background-color: #EADDFF;
    border: 3px solid #65558F;
    border-radius: 8px;
}

.setting__string {
    font-size: 12px;
    color: #49454F;
}

.setting__center-block {
    font-size: 57px;
    color: #1D1B20;
}

.setting__right-block {
    display: flex;
    flex-direction: column;
}

.setting__minute {
    width: 128px;
    height: 72px;
    background-color: #E6E0E9;
    border: 3px solid #E6E0E9;
    border-radius: 8px;
}

.setting__button-block {
    padding: 10px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.setting__button {
    border: 0px;
    background-color: #ECE6F0;
    color: #65558F;
    font-size: 16px;
}

.section-timer__shell {
    font-size: 128px;
    padding-left: 65px;
    display: flex;
    flex-direction: row;
}

.section-timer__timer {
    margin: 0px;
    width: 440px;
}

.section-timer__options {
    background-color: #2C2C2C;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.section-timer__options:hover {
    background-color: #4D4D4D;
}

.section-timer__options:focus-visible {
    background-color: #4D4D4D;
}

.section-timer__options:active {
    background-color: #000;
}

.section-timer__svg {
    position: absolute;
    top: 8px;
    left: 8px;
    fill: #F5F5F5;
    transition: fill 0.3s linear;
    cursor: pointer;
}

.section-timer__svg:active {
    fill: #fff;
}

.section-timer__div-table {
    padding-left: 65px;
}

.section-timer__table {
    font-size: 24px;
}

.section-timer__tr {
    height: 53px;
}

.section-timer__td {
    min-width: 50px;
    text-align: center;
}

.section-timer__th {
    text-align: left;
    font-weight: 300;
}

.section-timer__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 45px;
    justify-content: flex-end;
    padding-right: 167px;
}

.section-timer__button {
    font-size: 24px;
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#start {
    background-color: #2C2C2C;
    color: #F5F5F5;
    transition: color 0.3s linear , background-color 0.3s linear;
}

#start:focus-visible {
    background-color: #4D4D4D;
}

#start:hover {
    background-color: #4D4D4D;
}

#start:active {
    background-color: #000;
    color: #fff;
}

#pause {
    background-color: #000;
    color: #fff;
    transition: color 0.3s linear , background-color 0.3s linear;
}

#pause:focus-visible {
    background-color: #4D4D4D;
}

#pause:hover {
    background-color: #4D4D4D;
}

#pause:active {
    background-color: #2C2C2C;
    color: #F5F5F5;
}